body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.pen{
    color: orange;
}

.Flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half{
    width: 40%;
    padding-left: 75px;

}

.half img{
    width: 90%;
    margin-left: 20px;
    margin-top: 50px;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size: 60px;

}
;






.experience{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 60px;
}

.experience h1{

    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}



.half-1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px gray;
    

}




#book{
    border-left: 7px solid tomato;
}
#book1{
    border-left: 7px solid blue;
}

footer p{
    text-align: center;
    font-weight: bold;
    
}





